<configuration debug="true">

  <conversionRule conversionWord="htmlEscapedMessage"
                  converterClass="com.dalcomlab.ap.logback.com.dalcomlab.ap.logback.com.dalcomlab.ap.logback.classic.issue.lbclassic180.HtmlEscapedMessageConverter"/>

  <appender name="CON" class="com.dalcomlab.ap.logback.core.ConsoleAppender">
    <encoder class="com.dalcomlab.ap.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.dalcomlab.ap.logback.com.dalcomlab.ap.logback.classic.html.HTMLLayout">
        <pattern>%d{HH:mm:ss.SSS}%logger{1}%htmlEscapedMessage</pattern>
      </layout>
    </encoder>
  </appender>
  <root level="DEBUG">
    <appender-ref ref="CON"/>
  </root>
</configuration>