<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration debug="true">

  <statusListener class="com.dalcomlab.ap.logback.core.status.OnConsoleStatusListener" />
    

  <appender name="SIFT" class="com.dalcomlab.ap.logback.classic.sift.SiftingAppender">

    <discriminator>
      <key>userid</key>
      <defaultValue>smoke</defaultValue>
    </discriminator>
    <sift>
      <appender name="list-${userid}"
        class="com.dalcomlab.ap.logback.classic.issue.logback416.InstanceCountingAppender" />
    </sift>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="SIFT" />
  </root>

</configuration>
